<div class="page-header">
  <div class="pull-right">
    <label for="date_from">from</label>
    <input data-datepicker="datepicker" type="text" name="date_from" id="date_from" value="" class="span2">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="date_to">to</label>
    <input data-datepicker="datepicker" type="text" name="date_to" id="date_to" value="" class="span2">
  </div>
  <h3>Commits</h3>
</div>
 
<div class="well" style="overflow: hidden">
  <div id="daily_commits" style="height:300px"></div>
</div>

<div class="row">
  <div class="well span6" style="width:360px;">
    <h4 style="text-align:center;">Days</h4>
    <div id="dayinweek_commits" class="pull-left span6" style="width: 360px; height:220px"></div>
  </div>

  <div class="well span6" style="width:360px;">
    <h4 style="text-align:center;">Hours</h4>
    <div id="hourinday_commits" class="pull-right span6" style="width: 360px; height:220px"></div>
  </div>
</div>

<div class="well">
  <h4 style="text-align:center;">Months</h4>
  <div id="monthly_commits" style="height:220px"></div>
</div>