<div class="page-header">
  <div class="pull-right">
    <label for="date_from">from</label>
    <input data-datepicker="datepicker" type="text" name="date_from" id="date_from" value="" class="span2">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="date_to">to</label>
    <input data-datepicker="datepicker" type="text" name="date_to" id="date_to" value="" class="span2">
  </div>
  <h3>Developers</h3>
</div>
 
<div class="well">
  <table style="margin-top:10px" class="tablesorter">
    <thead>
      <tr>
        <th style="width:5%";>#</th>
        <th style="width:50%";>Name</th>
        <th>Commits</th>
        <th>Insertions</th>
        <th>Deletions</th>
      </tr>
    </thead>
    <tbody id="developers_table"></tbody>
  </table>
</div>