<div class="page-header">
  <div class="pull-right">
    <button id="projects_add_new"class="btn primary">Add project</button>
  </div>
  <h3>Available projects</h3>
</div>

<table>
<thead>
  <th>Project name</th>
  <th style="width:30%">Last updated</th>
  <th style="width:20%">Actions</th>
</thead>
<tbody id="projects_table_body">
</tbody>
</table>