<div class="page-header">
  <div class="pull-right">
    <div id="rev_slider"></div>
    <label for="rev_date">date</label>
    <input data-datepicker="datepicker" type="text" id="rev_date" value="" class="span2">
  </div>
  <h3>Revisions</h3>
</div>

<div class="row">
  <div class="well span9 syntax" id="rev_file_content"> 
    
  </div>
  <div class="well span3" id="rev_file_tree"> 

  </div>
</div>