<div class="page-header">
  <div class="pull-right">
    <div id="summary_range" class="radio btngroup">
      <a class="btn active" href="">7 days</a>
      <a class="btn" href="">30 days</a>
      <a class="btn" href="">100 commits</a>
    </div>
  </div>
  <h3>Summary</h3>
</div>

<div class="well" style="overflow: hidden">
  <div id="commits_chart" class="pull-right span5" style="height:200px"></div>
  
  <h4>Commits</h4>
  <table class="span8" style="margin-top:20px">
    <tbody>
      <tr>
        <td style="width:5%"><div class="color_sample"></div></td>
        <th>Total commits</th>
        <td id="commits_total"></td>
      </tr>
      <tr>
        <td><div class="color_sample" style="background:#41BB1C"></div></td>
        <th>Inserted lines</th>
        <td id="commits_insertions"></td>
      </tr>
      <tr>
        <td><div class="color_sample" style="background:#ED211B"></div></td>
        <th>Deleted lines</th>
        <td id="commits_deletions"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="well" style="overflow: hidden">
  <div id="developers_chart" class="pull-right span5" style="height:265px;margin-top:10px"></div>
  
  <h4>Most active developers</h4>
  <table class="span8" style="margin-top:10px">
    <thead>
      <tr>
        <th style="width:5%"></th>
        <th>Name</th>
        <th>Commits</th>
        <th>Insertions</th>
        <th>Deletions</th>
      </tr>
    </thead>
    <tbody id="developers_table"></tbody>
  </table>
</div>

<div class="row">
  <div class="well span6" style="width:360px;">
    <h4>Most committed files</h4>
    <table>
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th style="width:75%">File</th>
          <th style="width:20%">Commits</th>
        </tr>
      </thead>
      <tbody id="most_edited_files_table">
      </tbody>
    </table>
  </div>


  <div class="well span6" style="width:360px;">
    <h4>Most changed files</h4>
    <table style="max-width:360px;">
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th style="width:75%">File</th>
          <th style="width:20%">Lines</th>
        </tr>
      </thead>
      <tbody id="most_lines_files_table">
      </tbody>
    </table>
  </div>
</div>